#imgheader{
	margin-top: 70px;
}

#login_imgheader{
	margin-top: 5px;
	margin-left: 30px;
}

/*Log in button*/
#sign_btn{
	background: #f2be02;

}

/*Progress bar */


#error{
	display: none;
}
 body{
	 background:#F8F8F8;
 }

 /*Sidebar*/
 #side-wrapper{
	 z-index: 1;
	 width: 250px;
	 height: 100%;
	 opacity: 1;
	 background: #2C3E50;
	 position:fixed;
 }
 

 /* Main page content*/
 #main-content-wrapper{
	 padding: 20px;
	 margin-left:250px; 
 }

 .sidebar-nav{
	 padding: 0;
	 list-style: none;
 }

 .sidebar-nav li{
	 text-indent: 40px;
	 font-size: 20px;
	 line-height: 60px;
 }

 .sidebar-nav li a{
	 display: block;
	 text-decoration:none;
	 color: #D9D8D6;
	 
 }

 .sidebar-nav li a:hover{
	 background: #16A085;

 }

 .selected{
	 background:  #242c32;
 }

 /*navbar for all pages*/
 #navbar{

	border-bottom: 5px solid #f2be02;
	
 }

 #hr{
	 background: #f2be02;
 }

 #spinner{
	 display: none;
 }
 #signuperror{
	 display: none;
 }
 #proccedbtn{
	 display: none;
 }

 /*Login in progress bar*/
 #p2{
	 width: 100%;
	
 }
 #prgbar{
	display: none;
}
.card-header{

	background: #2C3E50;	
}
.hidden_section{
	display: none;
}

#transaction_section{
	display: none;
}
#customer_section{
	display: none;
}

#page_heading{
	display: none;
}

/*Progress Bar*/
.progress-bar1 {
	position: relative;
	height: 100px;
	width: 100px;
	margin:0 auto;
  }
   
  .progress-bar1 div {
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 50%;
  }
   
  .progress-bar1 div span {
	position: absolute;
	font-family: Arial;
	font-size: 25px;
	line-height: 75px;
	height: 75px;
	width: 75px;
	left: 12.5px;
	top: 12.5px;
	text-align: center;
	border-radius: 50%;
	background-color: white;
  }
   
  .progress-bar1 .background { background-color: #b3cef6; }
   
  .progress-bar1 .rotate {
	clip: rect(0 50px 100px 0);
	background-color: #4b86db;
  }
   
  .progress-bar1 .left {
	clip: rect(0 50px 100px 0);
	opacity: 1;
	background-color: #b3cef6;
  }
   
  .progress-bar1 .right {
	clip: rect(0 50px 100px 0);
	transform: rotate(180deg);
	opacity: 0;
	background-color: #4b86db;
  }
   
  @keyframes
  toggle {  0% {
   opacity: 0;
  }
   100% {
   opacity: 1;
  }
  }   



